a {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#7BFF25;
    border-color: #F69DA1;
    border-width: 3px;
    border-style: solid;
    }
    ul {
        list-style: none;
    }