table{
    border: 2px solid black;
    border-collapse: collapse;
}
tr{
    border: 2px solid black;
}
td{
    border: 2px solid black;
}
.patata{
    text-align: left;
}
.zanahoria{
    text-align: right;
}