<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="http://localhost:4000/login" method="post">
        <label for="email">EMAIL</label>
        <input type="email" name="usuario" id="email"/>
        <label for="pwd">pwd</label>
        <input type="password" name="contrasenia" id="pwd"/>
        <input type="submit" value="Log In"/>
    </form>
</body>

</html>